* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.ti-icon::before {
    content: '';
    width: 5px;
    height: 5px;
    background: #757575;
    position: absolute;
    left: 18px;
    top: 9px;
    border-radius: 50%;
}

#main {
    width: 600px;
    margin: 0 auto;
}

p {
    color: #222222;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 15px;
}

img {
    width: 600px;
    margin-bottom: 10px;
}

span {
    font-size: 14px;
    color: #222;
}

.ti-icon .icon-menu {
    color: #bdbdbd;
    margin: 0 2px;
    font-size: 14px;
}

.list {
    border-left: 1px solid #bdbdbd;
}

.list li {
    list-style: none;
}

.ti-icon {
    margin: 18px 0;
    position: relative;
}

.ti-icon a {
    margin-left: 30px;
    font-size: 16px;
}

.ti-icon__one {
    margin-left: 0 !important;
    color: blue;
    font-size: 14px !important;
}

.footer {
    margin: 30px 0;
    float: right;
}

.footer strong {
    font-size: 18px;
    font-weight: 700;
}